{% extends "Site/Layout.html" %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block content %}

    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for noticia in noticias %}
            <tr>
                <td>{{ noticia.id }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">{{ links | raw }}</td>
            </tr>
        </tfoot>
    </table>
    

{% endblock %}