<div class="modal fade" id="modal-new-photo-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"></h3>
            </div>
            <div class="modal-body">
                <form action="/adminPerfilFoto/store"
                      class="dropzone"
                      id="photouser">
                    <input type="hidden" id="id_user" value="{{ administrador('id') }}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>